.buttons{
    text-align: center;
    margin: 50px auto;
    .button{
        border: none;
        background-color: steelblue;
        color: #fff;
        margin: 0px 20px;
        padding: 10px 20px;
        font-weight: 700;
        border-radius: 5px;
        
    }
}

.box {
    width: 600px;
    margin: 0 Auto;
    border: 2px solid #8d8a8a;
    border-radius: 10px;
    overflow: hidden;
    font-family: Tahoma, Verdana, Segoe, sans-serif;
    
    &__navigation{
        background-color: steelblue;
        padding-top: 50px;
        .navigation{
            &__item{
                width: 33.33%;
                margin: 0 Auto;
                display: inline-block;
                
                &.selected .item{
                    background-color: #fff;
                    color: steelblue;
                }
                
                .item {
                    width: 50%;
                    margin: 0 Auto;
                    background-color: #5b99ce;
                    text-align: center;
                    border-top-left-radius: 10px;
                    border-top-right-radius: 10px;
                    color: #fff;
                    padding: 10px 20px;
                    cursor: pointer;
                    font-weight: bold;
                }
            }
        }
    }
    &__show {
        min-height: 200px;
        
        .show{
            &__container {
                i {
                    width: 200px;
                    height: 200px;
                    display: block;
                    background-size: contain;
                    background-repeat: no-repeat;
                    margin: 0 Auto;
                    margin-top: 40px;
                }
                &--superman {
                    background-image: url('https://seeklogo.com/images/S/Superman-logo-B28D65B529-seeklogo.com.png');
                }
                &--batman {
                    background-image: url('https://seeklogo.com/images/B/Batman-logo-F8295E46F2-seeklogo.com.png');
                }
                &--flash {
                    position: relative;
                    top: -25px;
                    background-image: url('http://vignette3.wikia.nocookie.net/marvel_dc/images/d/df/Flash_Logo_01.png/revision/latest?cb=20140529051349');
                }
            }
        }
    }
}