<div class="box" showHeroContainer>
    <div class="box__navigation">
        <div class="navigation">
            <div class="navigation__item" showHeroTrigger="superman" [active]="true"><div class="item">Superman</div></div><!--
         --><div class="navigation__item" showHeroTrigger="batman"><div class="item">Batman</div></div><!--
         --><div class="navigation__item" showHeroTrigger="flash"><div class="item">Flash</div></div>
        </div>
    </div>
    <div class="box__show">
        <div class="show">
            <div class="show__container" showHero="superman" [active]="true">
                <i class="show__container--superman"></i>
            </div>
            <div class="show__container" showHero="batman">
                <i class="show__container--batman"></i>
            </div>
            <div class="show__container" showHero="flash">
                <i class="show__container--flash"></i>
            </div>
        </div>
    </div>
</div>